{% extends "base.html" %}

{% block head %}
<title>Index</title>
{% endblock %}

{% block content %}


<div class="card-container" style="position: relative; height: 100%; width: 100%; display: grid;">
    <div id="bg" style="position: absolute; z-index: 2; height: 100%; width: 100%;">
        <div id="particles-js"></div>
    </div>

    <div class="logo">
        <img src="../static/images/logo.png" alt="">
    </div>

    <div class="card slider" style=" z-index: 3;" id="slider">
        <img src="../static/images/cards/logo.png" alt="" style="">


    </div>
    <form class="question-box" id="mars-once" action="/apply/" method="POST">
        <input type="text" placeholder="Ask your question" name="text" autocomplete="new-password">
        <button type="submit">Отправить заявку</button>
    </form>

    <div class="footer">
        <p>Home</p>
        <p>Tasks</p>
        <p>Frens</p>
    </div>

</div>
<script src="../static/js/input_que.js"></script>
<script src="../static/js/card_choise.js"></script>
<script src="../static/js/card_post.js"></script>
{% endblock %}